/* This file defines the common tailwind CSS file to be imported by each project. */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*
      Make sure these guidelines are followed: https://tailwindcss.com/docs/customizing-colors#using-css-variables
      when adding new variables. Spaces must be used.

      Colors are based off of https://www.figma.com/file/Md1Cl2B9eJi4NMzQgpbdMF/Dark-Mode?type=design&node-id=112-9885&mode=design&t=YKxx8fYvslM2TeLp-0.
    */
    --brand-400: 79 181 115;
    --brand-300: 123 199 150;
    --grey-0: 255 255 255;
    --grey-100: 250 250 250;
    --grey-200: 239 239 239;
    --grey-300: 210 213 217;
    --grey-400: 143 143 143;
  }
}
