/* This file defines the common tailwind CSS file to be imported by each project. */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*
      Make sure these guidelines are followed: https://tailwindcss.com/docs/customizing-colors#using-css-variables
      when adding new variables. Spaces must be used.

      Colors are based off of https://www.figma.com/file/Md1Cl2B9eJi4NMzQgpbdMF/Dark-Mode?type=design&node-id=112-9885&mode=design&t=YKxx8fYvslM2TeLp-0.
    */

    --brand-400: 189 154 17;
    --brand-300: 255 205 0;
    --brand-200: 255 230 126;
    --brand-100: 255 241 182;

    --grey-0: 255 255 255;
    --grey-100: 250 250 250;
    --grey-200: 239 239 239;
    --grey-300: 210 213 217;
    --grey-400: 143 143 143;
    --grey-500: 99 100 100;
    --grey-600: 32 32 32;
    --grey-700: 0 0 0;
    --warning-400: 255 205 0;
    --warning-300: 255 223 88;
    --warning-200: 255 241 182;
    --warning-100: 255 250 230;

    --error-400: 178 39 11;
    --error-300: 230 115 92;
    --error-200: 242 181 168;
    --error-100: 248 218 212;

    --blue-400: 61 122 207;
    --blue-300: 109 155 219;
    --blue-200: 177 202 236;
    --blue-100: 216 228 245;
    --blue-50: 239 244 251;
    --blue-0: 239 249 251;

    --purple-400: 86 104 143;
    --purple-300: 128 142 171;
    --purple-200: 187 195 210;
    --purple-100: 221 225 233;

    /* terrasos base colors */
    --bc-red-700: 107 18 0;
    --bc-red-600: 178 39 11;
    --bc-red-500: 222 69 38;
    --bc-red-400: 230 115 92;
    --bc-red-300: 242 181 168;
    --bc-red-200: 248 218 212;
    --bc-red-100: 248 238 236;
    --bc-green-700: 15 90 38;
    --bc-green-600: 36 136 70;
    --bc-green-500: 73 175 109;
    --bc-green-400: 138 211 164;
    --bc-green-300: 179 232 198;
    --bc-green-200: 222 248 231;
    --bc-green-100: 247 255 250;
    --bc-yellow-700: 138 110 11;
    --bc-yellow-600: 189 154 17;
    --bc-yellow-500: 255 205 0;
    --bc-yellow-400: 255 223 88;
    --bc-yellow-300: 255 230 126;
    --bc-yellow-200: 255 241 182;
    --bc-yellow-100: 255 250 230;
    --bc-neutral-700: 0 0 0;
    --bc-neutral-600: 56 56 56;
    --bc-neutral-500: 99 100 100;
    --bc-neutral-400: 165 164 164;
    --bc-neutral-300: 210 213 217;
    --bc-neutral-200: 239 239 239;
    --bc-neutral-100: 250 250 250;
    --bc-neutral-0: 255 255 255;

    /* alias.terrasos */
    --ac-error-500: var(--bc-red-500);
    --ac-error-400: var(--bc-red-400);
    --ac-success-500: var(--bc-green-500);
    --ac-success-400: var(--bc-green-400);
    --ac-gradients-purple-gradient-600: var(--bc-yellow-600);
    --ac-gradients-purple-gradient-500: var(--bc-yellow-500);
    --ac-gradients-purple-gradient-400: var(--bc-yellow-400);
    --ac-gradients-primary-gradient-600: var(--bc-yellow-600);
    --ac-gradients-primary-gradient-500: var(--bc-yellow-500);
    --ac-gradients-primary-gradient-400: var(--bc-yellow-400);
    --ac-neutral-700: var(--bc-neutral-700);
    --ac-neutral-600: var(--bc-neutral-600);
    --ac-neutral-500: var(--bc-neutral-500);
    --ac-neutral-400: var(--bc-neutral-400);
    --ac-neutral-300: var(--bc-neutral-300);
    --ac-neutral-200: var(--bc-neutral-200);
    --ac-neutral-100: var(--bc-neutral-100);
    --ac-neutral-0: var(--bc-neutral-0);
    --ac-primary-700: var(--bc-yellow-700);
    --ac-primary-600: var(--bc-yellow-600);
    --ac-primary-500: var(--bc-yellow-500);
    --ac-primary-400: var(--bc-yellow-400);
    --ac-primary-300: var(--bc-yellow-300);
    --ac-primary-200: var(--bc-yellow-200);
    --ac-primary-100: var(--bc-yellow-100);

    /* mapped terrasos light */
    --sc-tag-filter-inner-shadow: 0 0 0;
    --sc-tag-filter-outer-shadow: 0 0 0;
    --sc-checkbox-or-radio-selector-background-selected: var(--ac-neutral-100);
    --sc-checkbox-or-radio-selector-stroke: var(--ac-neutral-200);
    --sc-checkbox-or-radio-selector-background-default: var(--ac-neutral-0);
    --sc-table-stroke: var(--ac-neutral-200);
    --sc-table-surface-light: var(--ac-neutral-0);
    --sc-table-surface-dark: var(--ac-neutral-100);
    --sc-input-triangle-icon-disabled: var(--ac-neutral-400);
    --sc-input-triangle-icon-default: var(--ac-primary-600);
    --sc-input-background-disabled: var(--ac-neutral-200);
    --sc-input-background-default: var(--ac-neutral-0);
    --sc-tooltip-fill: var(--ac-neutral-0);
    --sc-tooltip-outline: var(--ac-neutral-400);
    --sc-tag-credit-category-text-icon: var(--ac-neutral-700);
    --sc-tag-credit-category-500: var(--ac-primary-500);
    --sc-tag-credit-category-300: var(--ac-primary-500);
    --sc-tag-filter-stroke-selected: var(--ac-neutral-500);
    --sc-tag-filter-stroke-unselected: var(--ac-neutral-200);
    --sc-tag-filter-background-selected: var(--ac-neutral-100);
    --sc-tag-filter-background-unselected: var(--ac-neutral-0);
    --sc-tag-prefinance-text-icon: var(--ac-neutral-700);
    --sc-tag-prefinance-600: var(--ac-primary-500);
    --sc-tag-prefinance-500: var(--ac-primary-500);
    --sc-tag-prefinance-400: var(--ac-primary-500);
    --sc-tag-impact-text-icon: var(--ac-neutral-700);
    --sc-tag-impact-background: var(--ac-primary-500);
    --sc-tabs-tab-underline: var(--ac-primary-500);
    --sc-button-outline-secondary-disabled: var(--ac-neutral-300);
    --sc-button-surface-prefinance-600: var(--ac-neutral-700);
    --sc-button-surface-prefinance-500: var(--ac-neutral-700);
    --sc-button-surface-prefinance-400: var(--ac-neutral-700);
    --sc-button-surface-standard-secondary-disabled: var(--ac-neutral-100);
    --sc-button-surface-standard-secondary-default: var(--ac-neutral-0);
    --sc-button-surface-standard-primary-disabled: var(--ac-neutral-300);
    --sc-button-surface-standard-secondary-hover: var(--ac-neutral-300);
    --sc-button-text-icon-prefinance: var(--ac-neutral-700);
    --sc-button-text-icon-disabled: var(--ac-neutral-300);
    --sc-button-text-icon-dark: var(--ac-neutral-700);
    --sc-button-text-icon-light: var(--ac-neutral-0);
    --sc-gradient-heavy-gradient-600: var(--ac-neutral-700);
    --sc-gradient-heavy-gradient-500: var(--ac-neutral-700);
    --sc-gradient-heavy-gradient-400: var(--ac-neutral-700);
    --sc-gradient-lighter-gradient-500: var(--ac-neutral-500);
    --sc-gradient-lighter-gradient-300: var(--ac-neutral-500);
    --sc-icon-credibility-background: var(--ac-neutral-0);
    --sc-icon-credibility-10-blue-green-gradient-600: var(--ac-primary-200);
    --sc-icon-credibility-10-blue-green-gradient-500: var(--ac-primary-200);
    --sc-icon-credibility-10-blue-green-gradient-400: var(--ac-primary-200);
    --sc-icon-credibility-25-blue-green-gradient-600: var(--ac-primary-500);
    --sc-icon-credibility-25-blue-green-gradient-500: var(--ac-primary-500);
    --sc-icon-credibility-25-blue-green-gradient-400: var(--ac-primary-500);
    --sc-icon-credibility-100-blue-green-gradient-600: var(--ac-neutral-700);
    --sc-icon-credibility-100-blue-green-gradient-500: var(--ac-neutral-700);
    --sc-icon-credibility-100-blue-green-gradient-400: var(--ac-neutral-700);
    --sc-icon-sdg-background: var(--ac-neutral-0);
    --sc-icon-sdg-stroke-shadow: var(--ac-neutral-300);
    --sc-icon-sdg-header: var(--ac-neutral-600);
    --sc-icon-sdg-number: var(--ac-neutral-700);
    --sc-icon-sdg-600: var(--ac-neutral-500);
    --sc-icon-sdg-500: var(--ac-neutral-500);
    --sc-icon-sdg-400: var(--ac-neutral-500);
    --sc-icon-ecosystem-600: var(--ac-primary-600);
    --sc-icon-ecosystem-500: var(--ac-primary-600);
    --sc-icon-ecosystem-400: var(--ac-primary-600);
    --sc-icon-standard-shade: var(--ac-primary-300);
    --sc-icon-standard-disabled: var(--ac-neutral-400);
    --sc-icon-standard-background: var(--ac-neutral-200);
    --sc-icon-standard-success: var(--ac-success-400);
    --sc-icon-standard-error: var(--ac-error-400);
    --sc-icon-standard-light: var(--ac-neutral-0);
    --sc-icon-standard-dark: var(--ac-primary-600);
    --sc-card-credibility-diagonal-background: var(--ac-neutral-100);
    --sc-card-standard-header-background: var(--ac-neutral-200);
    --sc-card-standard-stroke: var(--ac-neutral-300);
    --sc-card-standard-background: var(--ac-neutral-0);
    --sc-surface-page-background-light: var(--ac-neutral-0);
    --sc-surface-stroke: var(--ac-neutral-300);
    --sc-surface-page-background-default: var(--ac-neutral-100);
    --sc-text-over-image: var(--ac-neutral-0);
    --sc-text-error: var(--ac-error-500);
    --sc-text-disabled: var(--ac-neutral-400);
    --sc-text-sub-header: var(--ac-neutral-400);
    --sc-text-link: var(--ac-primary-600);
    --sc-text-header: var(--ac-neutral-700);
    --sc-text-paragraph: var(--ac-neutral-500);
  }

  .dark {
    --brand-400: 255 205 0;
    --brand-300: 255 230 126;
    --brand-200: 255 241 182;
    --brand-100: 189 154 17;

    --grey-0: 0 0 0;
    --grey-100: 32 32 32;
    --grey-200: 84 85 85;
    --grey-300: 143 143 143;
    --grey-400: 210 213 217;
    --grey-500: 239 239 239;
    --grey-600: 250 250 250;
    --grey-700: 255 255 255;

    --warning-400: 255 205 0;
    --warning-300: 255 223 88;
    --warning-200: 255 241 182;
    --warning-100: 255 250 230;

    --error-400: 255 223 88;
    --error-300: 255 241 182;
    --error-200: 255 250 230;
    --error-100: 255 205 0;

    --blue-400: 109 155 219;
    --blue-300: 177 202 236;
    --blue-200: 216 228 245;
    --blue-100: 61 122 207;
    --blue-50: 61 122 207;
    --blue-0: 61 122 207;

    --purple-400: 221 225 233;
    --purple-300: 187 195 210;
    --purple-200: 128 142 171;
    --purple-100: 86 104 143;

    /* mapped terrasos dark */
    --sc-tag-filter-inner-shadow: 255 255 255;
    --sc-tag-filter-outer-shadow: 255 255 255;
    --sc-checkbox-or-radio-selector-background-selected: var(--ac-neutral-600);
    --sc-checkbox-or-radio-selector-stroke: var(--ac-neutral-500);
    --sc-checkbox-or-radio-selector-background-default: var(--ac-neutral-700);
    --sc-table-stroke: var(--ac-neutral-500);
    --sc-table-surface-light: var(--ac-neutral-700);
    --sc-table-surface-dark: var(--ac-neutral-600);
    --sc-input-triangle-icon-disabled: var(--ac-neutral-300);
    --sc-input-triangle-icon-default: var(--ac-primary-500);
    --sc-input-background-disabled: var(--ac-neutral-500);
    --sc-input-background-default: var(--ac-neutral-700);
    --sc-tooltip-fill: var(--ac-neutral-700);
    --sc-tooltip-outline: var(--ac-neutral-100);
    --sc-tag-credit-category-text-icon: var(--ac-neutral-700);
    --sc-tag-credit-category-500: var(--ac-primary-500);
    --sc-tag-credit-category-300: var(--ac-primary-500);
    --sc-tag-filter-stroke-selected: var(--ac-neutral-0);
    --sc-tag-filter-stroke-unselected: var(--ac-neutral-400);
    --sc-tag-filter-background-selected: var(--ac-neutral-500);
    --sc-tag-filter-background-unselected: var(--ac-neutral-600);
    --sc-tag-prefinance-text-icon: var(--ac-neutral-700);
    --sc-tag-prefinance-600: var(--ac-primary-500);
    --sc-tag-prefinance-500: var(--ac-primary-500);
    --sc-tag-prefinance-400: var(--ac-primary-500);
    --sc-tag-impact-text-icon: var(--ac-neutral-700);
    --sc-tag-impact-background: var(--ac-primary-500);
    --sc-tabs-tab-underline: var(--ac-primary-500);
    --sc-button-outline-secondary-disabled: var(--ac-neutral-300);
    --sc-button-surface-prefinance-600: var(--ac-neutral-700);
    --sc-button-surface-prefinance-500: var(--ac-neutral-700);
    --sc-button-surface-prefinance-400: var(--ac-neutral-700);
    --sc-button-surface-standard-secondary-disabled: var(--ac-neutral-600);
    --sc-button-surface-standard-secondary-default: var(--ac-neutral-700);
    --sc-button-surface-standard-primary-disabled: var(--ac-neutral-500);
    --sc-button-surface-standard-secondary-hover: var(--ac-neutral-200);
    --sc-button-text-icon-prefinance: var(--ac-neutral-700);
    --sc-button-text-icon-disabled: var(--ac-neutral-500);
    --sc-button-text-icon-dark: var(--ac-neutral-0);
    --sc-button-text-icon-light: var(--ac-neutral-700);
    --sc-gradient-heavy-gradient-600: var(--ac-neutral-0);
    --sc-gradient-heavy-gradient-500: var(--ac-neutral-0);
    --sc-gradient-heavy-gradient-400: var(--ac-neutral-0);
    --sc-gradient-lighter-gradient-500: var(--ac-neutral-0);
    --sc-gradient-lighter-gradient-300: var(--ac-neutral-0);
    --sc-icon-credibility-background: var(--ac-neutral-700);
    --sc-icon-credibility-10-blue-green-gradient-600: var(--ac-primary-500);
    --sc-icon-credibility-10-blue-green-gradient-500: var(--ac-primary-500);
    --sc-icon-credibility-10-blue-green-gradient-400: var(--ac-primary-500);
    --sc-icon-credibility-25-blue-green-gradient-600: var(--ac-primary-500);
    --sc-icon-credibility-25-blue-green-gradient-500: var(--ac-primary-500);
    --sc-icon-credibility-25-blue-green-gradient-400: var(--ac-primary-500);
    --sc-icon-credibility-100-blue-green-gradient-600: var(--ac-neutral-0);
    --sc-icon-credibility-100-blue-green-gradient-500: var(--ac-neutral-0);
    --sc-icon-credibility-100-blue-green-gradient-400: var(--ac-neutral-0);
    --sc-icon-sdg-background: var(--ac-neutral-700);
    --sc-icon-sdg-stroke-shadow: var(--ac-neutral-500);
    --sc-icon-sdg-header: var(--ac-neutral-100);
    --sc-icon-sdg-number: var(--ac-neutral-0);
    --sc-icon-sdg-600: var(--ac-neutral-500);
    --sc-icon-sdg-500: var(--ac-neutral-500);
    --sc-icon-sdg-400: var(--ac-neutral-500);
    --sc-icon-ecosystem-600: var(--ac-primary-400);
    --sc-icon-ecosystem-500: var(--ac-primary-400);
    --sc-icon-ecosystem-400: var(--ac-primary-400);
    --sc-icon-standard-shade: var(--ac-primary-500);
    --sc-icon-standard-disabled: var(--ac-neutral-200);
    --sc-icon-standard-background: var(--ac-neutral-500);
    --sc-icon-standard-success: var(--ac-success-400);
    --sc-icon-standard-error: var(--ac-error-400);
    --sc-icon-standard-light: var(--ac-primary-300);
    --sc-icon-standard-dark: var(--ac-primary-300);
    --sc-card-credibility-diagonal-background: var(--ac-neutral-600);
    --sc-card-standard-header-background: var(--ac-neutral-600);
    --sc-card-standard-stroke: var(--ac-neutral-500);
    --sc-card-standard-background: var(--ac-neutral-700);
    --sc-surface-page-background-light: var(--ac-neutral-600);
    --sc-surface-stroke: var(--ac-neutral-500);
    --sc-surface-page-background-default: var(--ac-neutral-700);
    --sc-text-over-image: var(--ac-neutral-0);
    --sc-text-error: var(--ac-error-400);
    --sc-text-disabled: var(--ac-neutral-300);
    --sc-text-sub-header: var(--ac-neutral-300);
    --sc-text-link: var(--ac-primary-500);
    --sc-text-header: var(--ac-neutral-0);
    --sc-text-paragraph: var(--ac-neutral-200);
  }
}
