[context.production.environment]
VITE_SANITY_TAG = "default"
VITE_SANITY_DATASET = "production"
VITE_BLOCK_EXPLORER = "https://www.mintscan.io"
VITE_LEDGER_CHAIN_ID = "regen-1"
VITE_SENTRY_ENABLED = "true"
VITE_SENTRY_ENVIRONMENT = "production"
VITE_ANALYTICS_ENABLED = "true"
VITE_BRIDGE_CREDIT_CLASS_ID = "C03"
VITE_GA_MEASUREMENT_ID = "G-6ZGJM8JXYN"
VITE_TOUCAN_LINK = "https://toucan.earth/overview?chainId=137"
VITE_SKIPPED_CLASS_ID = "C01"
VITE_NODE_ENV = "production"

[context.dev.environment]
VITE_SANITY_TAG = "default"
VITE_SANITY_DATASET = "staging"
VITE_RECAPTCHA_SITE_KEY = "6LchxlAaAAAAANjtO3w4b5ihVCL87tYfbe0ltzp9"
VITE_INTERCOM_APP_ID = "kn5di10s"
VITE_LEDGER_CHAIN_ID = "regen-redwood-1"
VITE_LEDGER_CHAIN_NAME = "Regen - Redwood Testnet"
VITE_BLOCK_EXPLORER = "https://redwood.regen.aneka.io"
VITE_SENTRY_ENVIRONMENT = "development"
VITE_TOUCAN_LINK = "https://test.app.toucan.earth/?chainId=137"
VITE_BRIDGE_API_URI = "https://toucan-bridge-staging.herokuapp.com"
VITE_BRIDGE_CREDIT_CLASS_ID = "C56"
VITE_BRIDGE = "true"
VITE_SKIPPED_CLASS_ID = ""
VITE_NODE_ENV = "development"

[context.deploy-preview.environment]
VITE_SANITY_DATASET = "staging"
VITE_RECAPTCHA_SITE_KEY = "6LchxlAaAAAAANjtO3w4b5ihVCL87tYfbe0ltzp9"
VITE_INTERCOM_APP_ID = "kn5di10s"
VITE_LEDGER_CHAIN_ID = "regen-redwood-1"
VITE_LEDGER_CHAIN_NAME = "Regen - Redwood Testnet"
VITE_BLOCK_EXPLORER = "https://redwood.regen.aneka.io"
VITE_SENTRY_ENVIRONMENT = "development"
VITE_TOUCAN_LINK = "https://test.app.toucan.earth/?chainId=137"
VITE_BRIDGE_API_URI = "https://toucan-bridge-staging.herokuapp.com"
VITE_BRIDGE_CREDIT_CLASS_ID = "C56"
VITE_BRIDGE = "true"
VITE_SKIPPED_CLASS_ID = ""
VITE_ANALYTICS_ENABLED = "true"
VITE_NODE_ENV = "development"

[build.environment]
NODE_OPTIONS = "--max-old-space-size=10216"

[[redirects]]
from = "https://app.regen.network/create-methodology"
to = "https://app.regen.network"
force = true
status = 302


[[redirects]]
from = "https://app.regen.network/create-methodology/methodology-review-process"
to = "https://app.regen.network"
force = true
status = 302

[[redirects]]
from = "https://app.regen.network/buyers/"
to = "https://www.regen.network/buyers"
force = true
status = 302

[[redirects]]
from = "https://app.regen.network/ecocredits/*"
to = "https://app.regen.network/dashboard/:splat"
force = true
status = 302

[[redirects]]
from = "https://app.regen.network/ecocredits/accounts/*"
to = "https://app.regen.network/profiles/:splat"
force = true
status = 302
