@import url('https://fonts.googleapis.com/css?family=Muli:800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700&display=swap');

@font-face {
  font-family: 'FoxesInLove';
  src: url(./assets/fonts/foxes-in-love.ttf) format('truetype');
}