.project-top {
  background-image: url(./assets/background3.jpg);
}

.project-background {
  background-image: url(./assets/background.jpg);
  background-size: cover;
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    zoom: 245%; /* printing certificate on chrome */
  }
}

@page {
  /* size:A4 landscape; */
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  -webkit-print-color-adjust: exact;
}
