.project-top {
  background-image: url(./assets/background3.jpg);
}

.topo-background {
  background-image: url(./assets/topo-background-large.jpeg);
  background-size: cover;
  background-position: center;
  border-top: 1px solid #D2D5D9;
  border-bottom: 1px solid #D2D5D9;
}

.topo-background-alternate:nth-child(odd) {
  background-image: url(./assets/topo-background-large.jpeg);
  background-size: cover;
  background-position: center;
  border-top: 1px solid #D2D5D9;
  border-bottom: 1px solid #D2D5D9;
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    zoom: 245%; /* printing certificate on chrome */
  }
}

@page {
  /* size:A4 landscape; */
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  -webkit-print-color-adjust: exact;
}
