.project-top {
  background-image: url(./assets/background3.jpg);
}

.topo-background {
  background-image: url(./assets/home/topographic-light.svg);
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
  border-top: 1px solid #d2d5d9;
  border-bottom: 1px solid #d2d5d9;
}

@media (prefers-color-scheme: dark) {
  .topo-background.dark {
    background-image: url(./assets/home/topographic-dark.jpg);
  }
}

.topo-background-alternate:nth-of-type(odd) {
  background-image: url(./assets/home/topographic-light.svg);
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
  border-top: 1px solid #d2d5d9;
  border-bottom: 1px solid #d2d5d9;
}

@media (prefers-color-scheme: dark) {
  .topo-background-alternate.dark:nth-of-type(odd) {
    background-image: url(./assets/home/topographic-dark.jpg);
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    zoom: 245%; /* printing certificate on chrome */
  }
}

@page {
  /* size:A4 landscape; */
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  -webkit-print-color-adjust: exact;
}
