name: CI

on:
  push:
    branches: [master, dev]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 'latest'

      - name: install
        run: |
          bun install

      - name: build-app
        run: bun run build
        env:
          NODE_OPTIONS: '--openssl-legacy-provider --max-old-space-size=10216'

    # Displaying for now, see https://github.com/regen-network/regen-web/pull/1796 for explanations
    # TODO re-enable as part of https://github.com/regen-network/regen-registry/issues/1316
    # - name: test
    #   run: yarn test
